<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyALGEwcd5T_baZ5rk6Izzns12kRrxgIq8U</string>
	<key>GCM_SENDER_ID</key>
	<string>820302936942</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.koko.okrapp</string>
	<key>PROJECT_ID</key>
	<string>okrapp-254fd</string>
	<key>STORAGE_BUCKET</key>
	<string>okrapp-254fd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:820302936942:ios:88a8e9330c2d77678c1f7f</string>
</dict>
</plist>